<div class="container">
  <div class="card mx-auto" style="width: 500px;margin-top: 100px">
    <div class="card-header text-center">
      <h2>Add Employee</h2>
    </div>
    <div class="card-body">
      <form class="form text-center" [formGroup]="addForm">
        <div class="row">
          <div class="col-md-6">
            <label class="form-input-label mt-1">ID</label>
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" formControlName="id">
          </div>
          <div class="col-md-6 ">
            <label class="form-input-label mt-1">Name</label>
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="col-md-6">
            <label class="form-input-label mt-1">Salary</label>
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" formControlName="salary">
          </div>
          <div class="col-md-6">
            <label class="form-input-label mt-1">Department</label>
          </div>
          <div class="col-md-6 form-group">
            <input type="text" class="form-control" formControlName="department">
          </div>
          <div class="col-md-12 justify-content-center">
            <button type="button" class="btn btn-primary ml-4 mt-4" style="width: 50%" (click)="addEmployee()">Add
              Employee</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="employees.length" class="jumbotron mt-4">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Salary</th>
          <th>Department</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees;let i=index">
          <td>{{employee.id}}</td>
          <td>{{employee.name}}</td>
          <td>{{employee.salary}}</td>
          <td>{{employee.department}}</td>
          <td><button class="btn btn-danger" (click)="deleteEmp(employee.id)">Delete</button></td>
          <td><button class="btn btn-danger" (click)="updateEmp(employee.id)">Update</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="update">
    <div class="card mx-auto" style="width: 500px;margin-top: 100px">
      <div class="card-header text-center">
        <h2>Update Employee</h2>
      </div>
      <div class="card-body">
        <form class="form text-center" #updateForm="ngForm">
          <div class="row">
            <div class="col-md-6">
              <label class="form-input-label mt-1">ID</label>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" [(ngModel)]="updateEmployee.id" name="id">
            </div>
            <div class="col-md-6 ">
              <label class="form-input-label mt-1">Name</label>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" [(ngModel)]="updateEmployee.name" name="name">
            </div>
            <div class="col-md-6">
              <label class="form-input-label mt-1">Salary</label>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" [(ngModel)]="updateEmployee.salary" name="salary">
            </div>
            <div class="col-md-6">
              <label class="form-input-label mt-1">Department</label>
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" [(ngModel)]="updateEmployee.department" name="department">
            </div>
            <div class="col-md-12 justify-content-center">
              <button type="button" class="btn btn-primary ml-4 mt-4" style="width: 50%" (click)="updateData()">Add
                Employee</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
